<!DOCTYPE html>
<html>
  <head>
    {% include "./partials/header.html" %}

    <style>
      .users-list > li {
        width: 140px;
        height: 170px;
      }
    </style>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div id="vapp">
      <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="margin-left: 0">
          <!-- Main content -->
          <section class="content">
            {% block content %}{% endblock content %}
          </section>
          <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
      </div>
      <!-- ./wrapper -->
    </div>

    {% include "./partials/scripts.html" %}
  </body>
</html>
